* {
    margin: 0;
    padding: 0;
    background-color:#111418;
    font-family: roboti;
}
@font-face {
    font-family: roboti;
    src: url(fonts/Roboto-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.top {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.topa {
    margin-inline: 25px;
    color: #fff;
    font-style: normal;
    text-decoration: none;
    justify-self: center;
}

.links {
    margin-top: 8vmin;
    justify-content: center;
    margin-right: 10vmin;
}

#btn1 {
    height: 6vmin;
    width: 13vmin;
    background-color: purple;
    margin-top: 6vmin;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    color:aliceblue;
    font-size: 2vmin;
    margin-left: 23.5vmin;
    cursor: pointer;
}

#logo1 {
    margin-left: 15vmin;
    margin-right: 30vmin;
}

.middle {
    margin-top: 10vmin;
    margin-left: 23vmin;
}

#small-msg {
    color:aliceblue ;
    font-size: 15px;
}

#big-text {
    color: #fff;
    margin-top: 2.5vmin;
}

#paragraph {
    margin-top: 2vmin;
    color: aliceblue;
}

#working-guy {
    height: 50vmin;
    float: right;
    margin-right: 37vmin;
}

#midtop {
    display: flex;
    flex-direction: row;
}

#btn2 {
    height: 6vmin;
    width: 17vmin;
    background-color: purple ;
    margin-top: 4vmin;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    color:aliceblue;
    font-size: 2vmin
}



#pricing {
    margin-top: 20vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-head {
    color: #fff;
    font-size: 6vmin;
    height: 4.5vmin;
    display: flex;
    justify-content: center;
}

.headin {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pricedivs {
    margin-top: 7vmin;
    display: flex;
    margin-left: 3.5vmin;
    justify-content: center;
}

.dollars {
    height: 65vmin;
    width: 50vmin;
    background-color: #242423;
    border-radius: 10px;
    position: relative;
    margin-inline: 3vmin;
    border: 2px solid transparent;
    transition: ease 0.3s;
}

.dollars:hover {
    border-color: #fff;
    background-color: #393E41;
}

.plan-massege {
    background: transparent;
    color: aliceblue;
    margin-left: 3vmin;
    margin-top: 6vmin;
    font-size: 2.7vmin;
    font-weight: bold;
}

.dollar-price {
    background: transparent;
    color: #fff;
    margin-left: 3vmin;
    margin-top: 1.8vmin;
}

.horline {
    width: 92%;
    margin-left: 4%;
}

.list {
    margin-top: 4vmin;
    background: transparent;
    margin-left: 5vmin;
    height: 200px;
}

.listitem {
    background: transparent;
    color:aliceblue;
}

.join {
    background-color: transparent;
    border-radius: 3px;
    width: 30vmin;
    height: 6vmin;
    background: transparent;
    border: 1px solid white;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    bottom: 0;
    line-height: 50%;
}


.joins {
    display: flex;
    justify-content: center;
    background:transparent;
    bottom: 0;
    align-items: center;
    line-height: 50%;
}

.join:hover {
    background-color: purple;
    border:1px solid transparent;
}

.planmsg {
    color: aliceblue;
    opacity: 70%;

}

.planmsg2 {
    color: aliceblue;

    opacity: 70%;
}

.btn {
    transition: ease 0.3s;
}

.btn:hover {
    opacity: 85%;
}

.projects {
    margin-top: 20vmin; 
}

.threeproj {
    display: flex;
    justify-content: center;
    margin-top: 3vmin;
    margin-left: 2vmin;
}

.project {
    height: 30vmin;
    width: 50vmin;
    background-color: #242423;
    border-radius: 10px;
    margin-inline: 3vmin;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

#proj1 {
    background-image: url(images/tierlistmc\ -\ Copy.PNG);
    background-size: cover;
}

#proj2 {
    background-image: url(images/new\ port.PNG);
    background-size: cover;
}

.project:hover {
    border-color: #fff;
}


.slider {
    width: 70%;
    height: 500px;
    box-shadow: 0px 0px 3px #fff;
    margin-left: 15%;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    transition: 1s;
    position: absolute;
}

.nav {
    align-items: center;
    bottom: 5vmin;
    height: 50px;
    width: 100px;
    display: flex;
    margin-top: 2vmin;
    margin-bottom: 10vmin;
    margin-left: 46.5%;
}

.nav button {
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    border: none;
    transition: 0.2s ease;
    cursor: pointer;
}

.nav button:hover {
    opacity: 50%;
}

.end {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

#loream {
    color: aliceblue;
    margin-left: 7vmin;
}

#medialinks {
   margin-top: 20px;
   margin-left: 7vmin;
   display: flex;
   gap: 1rem;
}

.mediaimg {
    border: 1px solid aliceblue;
    padding: 5px;
    border-radius: 30px;
}

.column {
    display: flex;
    flex-direction: column;
}

.secondend {
    display: flex;
    gap: 10vmin;
    margin-left: 200px;
    margin-top: 35px;
}

.column h4 {
    color: white;
    margin-bottom: 25px;
}

.column a{
    color: aliceblue;
    font-size: 15px;
    margin-bottom: 12px;
    opacity: 70%;
}

#endp{
    margin-bottom: 20px ;
    margin-left: 5%;
    color: aliceblue;
    opacity: 55%;
}

@media screen and (max-width: 900px)
{
  #working-guy {
    float: right;
  }

  #btn1 {
    display: none;
  }

  #pricedivs{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secondend{
    margin-left: 10%;
  }

  .end{
    flex-direction: column;
    margin-left: 0px;
  }

  .middle{
    margin-left: 5%;
  }
  
  .section-head {
   display: none;
  }

  .headin {
    display: none;
  }

  .planmsg{
    margin-right: 90%;
    font-size: 70%;
  }

  .planmsg2{

    font-size: 65%;
  }

  .slider {
    height: 200px;
    margin-right: 10%;
  }

  .dollars {
    height: 80vmin;
    width : 50vmin;
    margin-top: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  #logo1 {
    margin-right: 5vmin;
    margin-left: 5%;
  }

  .join {
  margin-top: 0px;
  }

  .links {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

}  

@media screen and (max-width: 1100px)
 {
    .links {
        margin-right: 0px;
        margin-left: 0px;
        float: right;
        display: flex;
    }

    #projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    .nav {
    margin-right: 40%;
    }
}
