* {
   margin: 0;
   padding: 0;
}

body {
    background-color: #1a1a1a;
    font-family: playerfont;
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
}
.top {
    display: flex;
    height: 7vmin;
    width: 210vmin;
    background-color: #262626;
}

#topmsg {
    color: grey;
    align-self: center;
    display: flex;
    margin-left: 23vmin;
    font-size: 3vmin;
    padding: 68vmin;
}

#search {
   height: 5vmin;
   align-self: center;
   background-color: #343434;
   width: 20vmin;
   background: transparent;
   font-size: 2.5vmin;
   float: right;
   outline: none;
   border: none;
   color: #fff;
}

.search {
    height: 5vmin;
    align-self: center;
    display: flex;
    background-color: #343434;
    width: 25vmin;
    border-radius: 50vmin;
    cursor: text;
}

.search:hover {
    background-color: #343434; /* Change background color on hover */
}
.search:click {
    outline: auto;
}

#icon {
    height: 3vmin;
    width: 4vmin;
    margin-top: 1vmin;
    color: #fff;
}

.middle {
    height: 200vh;
    width: 202vmin;
    background-color: #1a1a1a;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.up {
    background-color: #1a1a1a;
    width: 195vh;
    height: 18vh;
    display: flex;
}

.down {
    background-color: #333333;
    width: 195vh;
    height: 340vh;
    border-radius: 2vmin;
}

.tierheading {
    width: 195vh;
    height: 13vh;
    display: flex;justify-content: center;
}

 .tier {
    font-family: tierfont ;
    font-size: 6vh;
    margin-top: 2vh;
    padding-left: 10vh;
    padding-right: 10vh;
    font-weight: bolder;
    display: flex;
 }

/* Tier Colors */
 #tier1 {
    color: orange;
 }

 #tier2 {
    color: white;
 }

 #tier3 {
    color: coral;
 }

 #tier4 {
    color: darkgray;
 }

 #tier5 {
    color: grey;
 }

 @font-face {
    font-family: tierfont ;
    src: url(LEMONMILK-Regular.otf);
 }

 @font-face {
   font-family: playerfont ;
   src: url(Roboto-Regular.ttf);
}

 .tierbox {
    background-color: #272727;
    height: 175vh;
    width: 37vh ;
 }

 .tierbox1 {
    margin-left: 3vh;
    background-color: #272727;
    height: 175vh;
    width: 37vh ;
 }
 
 .line {
    background-color: grey;
    height: 175vh;
    width: 1vh;
 }

 .boxes {
    display: flex;
 }

 .players {
   width: 100%;
   height : 4vmin;
   background-color: #3e71f4;
   border-bottom: 1px solid black;
   display: flex;
   align-items: center;
   cursor: pointer;
 }

 .players:hover {
   opacity: 85%;
 }

 .lowplayers {
   width: 100%;
   height : 4vmin;
   background-color: rgb(135, 206, 250);
   border-bottom: 1px solid black;
   display: flex;
   align-items: center;
   cursor: pointer;
 }

 .lowplayers:hover {
   opacity: 85%;
 }

 .playername {
   font-family: playerfont;
   font-size: 3.5vmin;
   color: #262626;
   margin-left: 1vmin;
 }

 .colorbox {
   background-color: greenyellow;
   height: 100%;
   width: 1vmin;
 }

.hiddendivs {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}


 .skills {
   height: 100vmin;
   width: 80vmin;
   background-color: #333333 ;
   border-radius: 5vmin;
   font-size: 5vmin;
   display: none;
   position: absolute;
   transform: translate(50%, 50%); /* Offsets for perfect centering */
   margin-right: 80vmin;
   align-items: center; 
   justify-content: center;
   flex-direction: column;
   overflow: hidden;
 }

.innerskill {
   height: 70vmin;
   width: 70vmin;
   background-color: #272727;
   margin-top: 20vmin;
   border-radius: 3vmin ;
   margin-bottom: 2vmin;
} 

.playerid {
   font-size: 4.5vmin;
   font-weight: bolder;
   color: #fff;
   margin-top: 4vmin;
   margin-left: 2.3vmin;
}

.horline {
   width: 93%;
   margin-left: 3.5%;
   margin-top: 1vmin;
}

.firsttiers {
   height: 45%;
   width: 30%;
   margin-left: 1.5vmin;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

#nethpot {
   display: flex;
   width: 98%;
   border-radius: 3vmin;
   height: 30%;
   overflow: hidden;
   font-weight: bolder;
}

#crystal {
   display: flex;
   width: 98%;
   border-radius: 3vmin;
   height: 30%;
   overflow: hidden;
   font-weight: bolder;
}

#sword {
   display: flex;
   width: 98%;
   border-radius: 3vmin;
   height: 30%;
   overflow: hidden;
   font-weight: bolder;
}

#axe {
   display: flex;
   width: 98%;
   border-radius: 3vmin;
   height: 30%;
   overflow: hidden;
   font-weight: bolder;
}

#diapot {
   display: flex;
   width: 98%;
   border-radius: 3vmin;
   height: 30%;
   overflow: hidden;
   font-weight: bolder;
}

#uhc {
   display: flex;
   width: 98%;
   border-radius: 3vmin;
   height: 30%;
   overflow: hidden;
   font-weight: bolder;
}

#smp {
   display: flex;
   width: 98%;
   border-radius: 3vmin;
   height: 30%;
   overflow: hidden;
   font-weight: bolder;
}

.timg {
   height: 7vmin;
   width: 7vmin;
background-color:#343434 ;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  padding-left: 0.5vmin;
  padding-right: 0.5vmin;
}

.t {
   padding: 1.5vmin;
   font-size: 5vmin;
}

.gamemode {
   margin-top: 0.5vmin;
   margin-bottom: 0.5vmin;
   background-color: #a177ff;
}   

.maintiers {
   display: flex;
}

.upskill {
   height: 15vmin;
   width: 100%;
   background-color: #4d4d4d;
}

.skin {
   height: 25vmin;
   margin-top: 3vmin;
   margin-left: 2vmin;
   border-radius: 15vmin;
   background-color:  #272727;
   padding-top: 1vmin;
}

#close {
   height: 7vmin;
   width: 7vmin;
   font-size: 6vmin;
   border-radius: 50vmin;
   float: right;
   margin: 2vmin;
   border: none;
   background-color: #666666;
   color: #4d4d4d;
}

#close:hover {
   opacity: 60%;
}

.modehead {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #4d4d4d;
   margin-top: 4vmin;
   height: 8vmin;
   width: 13vmin;
   border-radius: 1vmin;
   margin-left: 0.2vmin;
   margin-right: 0.2vmin;
}

.topimg {
   height: 6vmin;
   width: 6vmin;
}

#planet {

   color: grey;
   opacity: 70%;
   font-size: 5vmin;
   margin-left: 2vmin;
   }


   #innerheadimage {
      height: 10vmin;
      width: 15vmin;
   }
